.productListLayout hr {
  border: none;
  border-bottom: 1px solid #c9c5ca;
}
.result {
  color: #787579;
  font-size: 14px;
}
.cardGroup {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
}

.card {
  width: 30%;
  border: 1px solid #c9c5ca;
  margin-bottom: 20px;
  border-radius: 4px;
}

.card img {
  width: 150px;
  height: 150px;
  display: block;
  margin: auto;
}

.card h4,
.card hr,
.card p {
  width: 90%;
  margin: 16px auto;
}

.card hr {
  border: none;
  border: 0;
  border-top: 1px solid #c9c5ca;
}

.card p {
  color: #787579;
}

.button {
  width: 90%;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
}

.button button:nth-child(1) {
  width: 70%;
  border: 1px solid #5ea3d6;
  border-radius: 8px;
  background-color: #5ea3d6;
  color: #fff;
  padding: 16px;
  border-radius: 4px;
}

.button button:nth-child(2) {
  color: #5ea3d6;
  background-color: transparent;
  border: 1px solid #5ea3d6;
  border-radius: 8px;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 576px) {
  .card {
    width: 45%;
  }

  @media (max-width: 443px) {
    .card {
      width: 47%;
    }
  }

  @media (max-width: 410px) {
    .card {
      width: 49%;
    }
  }
}

@media (min-width: 992px) {
  .card {
    width: 19%;
  }
}
