.css-1wnsr1i {
  border-radius: 8px;
  border: 1px solid #fff;
}

.color:nth-child(2) .css-15fb4dm-MuiTypography-root {
  color: #fff;
}

.cancelSidebar {
  font-size: 12px;
  color: #8692a6;
  cursor: pointer;
}

@media (max-width: 567px) {
  .modalBox {
    width: 350px !important;
    border: none !important;
  }
}
