#cart .css-9mgopn-MuiDivider-root {
  display: none;
}

#cart .css-121ph4g-MuiTypography-root {
  position: relative;
  top: 10px;
}

@media (max-width: 576px) {
  #cart .css-uok36i-MuiDivider-root {
    border-bottom: none;
  }

  #cart .css-gmwslw-MuiStack-root {
    padding-left: 16px;
    display: flex;
    align-items: center;
    /* border-bottom: 1px solid #c9c5ca; */
    margin-left: -16px;
    border-bottom: none;
    border-top: 1px solid #c9c5ca;
  }

  #cart .css-gmwslw-MuiStack-root {
    margin-top: -16px;

    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #cart .css-1df70r3-MuiStack-root {
    margin-left: 16px;
  }

  #cart.css-174dpmb {
    margin-top: -16px;
  }

  #cart .css-7dgjqa-MuiStack-root {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
  }
  #cart .css-1a5ho4p {
    /* display: none; */
  }

  #cart .css-11gd57w {
    display: block;
    width: 100%;
  }

  #cart .css-7dgjqa-MuiStack-root > :not(style) + :not(style) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px auto 30px;
  }

  #cart .css-e6wms1-MuiStack-root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 100%;
  }

  #cart .css-w6xc72-MuiStack-root {
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    margin-bottom: 0;
  }
  
  #cart .css-14x4dbq-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
    width: 50px;
  }

  #cart p.css-wuz7cz-MuiTypography-root {
    margin-left: 16px;
  }

  #cart p.css-15fb4dm-MuiTypography-root {
    margin-left: 16px;
  }

  #cart #css-15pmlbz-MuiTypography-root {
    margin-left: 16px;
  }

  #cart .css-1lj5egr-MuiGrid-root {
    margin-bottom: 50px;
  }

  #cart .css-15m2sxx-MuiButtonBase-root-MuiButton-root {
    display: flex;
    justify-content: center;
    width: 90%;
    margin: auto;
  }

  #cart .css-15pmlbz-MuiTypography-root {
    margin-left: 16px;
  }
}
