header.css-mnvdtj-MuiPaper-root-MuiAppBar-root {
  overflow-x: hidden;
}

.css-1ss2ei0-MuiContainer-root {
  padding-left: 0 !important;
  /* padding-right: 0; */
}

.css-1d1pb5s {
  border: 0.4px solid #939094;
  border-radius: 4px;
}

.css-0 h4.css-9v741w-MuiTypography-root {
  font-weight: 600;
}

#home .css-0 p.css-15fb4dm-MuiTypography-root {
  font-weight: 400;
  line-height: 1.7;
  font-size: 18px;
  margin-top: 10px;
}

.css-1zszj3-MuiButtonBase-root-MuiButton-root {
  font-weight: 500;
  line-height: 1.5;
}

.css-18eutzv-MuiGrid-root {
  margin: auto !important;
  align-items: flex-start;
}

.css-18eutzv-MuiGrid-root .css-2ii3ln-MuiPaper-root {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  border: 0 !important;
  margin: auto;
  width: calc(100% - 20px);
}

.css-1unik2p-MuiGrid-root {
  /* display: none; */
  width: 0;
}

/*     margin-left: -35px; */

.css-18eutzv-MuiGrid-root {
  width: 100%;
  /* margin-left: -40px; */
}

@media (max-width: 493px) {
  .css-18eutzv-MuiGrid-root {
  }

  .css-2ii3ln-MuiPaper-root {
    width: calc(100% + 19px);
  }

  .css-1unik2p-MuiGrid-root {
    max-width: 100%;
  }

  .css-178yklu .css-18eutzv-MuiGrid-root {
    /* flex-direction: column; */
    /* overflow-x: hidden; */
  }
  .css-2ii3ln-MuiPaper-r0ot {
    width: 260px;
  }
  .css-2ii3ln-MuiPaper-root {
    width: 300px;
  }
}

.css-77jdc0-MuiTypography-root {
  font-size: 1rem;
  position: relative;
  bottom: 24px;
  white-space: initial;
}

.css-1unik2p-MuiGrid-root
  .css-1ks7621-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
  border-radius: 8px;
  background: #5ea3d6;
  font-weight: 500;
  font-size: 8px;
  text-transform: initial;
  padding: 0;
}

.css-1vem75r-MuiDivider-root,
.css-1n9ulcj-MuiDivider-root,
.css-19midj6 .css-1xh8hr-MuiTypography-root {
  /* display: none; */
}

.css-t7w5aw-MuiStack-root {
  background-color: transparent;
}

p.css-i1k716-MuiTypography-root {
  display: flex;
  align-items: center;
  border: none;
  border-top: 0.4px solid #aeaaae;
  border-bottom: 0.4px solid #aeaaae;
  padding: 25px 0;
  font-size: 8px;
}

.css-t7w5aw-MuiStack-root > :not(style) + :not(style) {
  width: 50px;
  height: 40px;
}

#home .css-1vem75r-MuiDivider-root,
.css-1n9ulcj-MuiDivider-root,
.css-19midj6 .css-1xh8hr-MuiTypography-root {
  /* display: none; */
}

@media (max-width: 576px) {
  .css-178yklu .css-1aq6uv8-MuiStack-root {
    display: flex;
    flex-direction: column;
  }

  #home .css-121ph4g-MuiTypography-root {
    margin-top: 20px;
  }

  #home .css-121ph4g-MuiTypography-root {
    text-align: left;
  }

  #home .MuiTypography-h5.css-121ph4g-MuiTypography-root {
    position: relative;
    top: 40px;
    text-align: left;
  }

  #home .MuiTypography-h5.css-121ph4g-MuiTypography-root {
    position: relative;
    top: 40px;
    text-align: left;
    margin-left: 0;
    text-align: left;
  }

  #home .MuiTypography-h5.css-121ph4g-MuiTypography-root {
    position: relative;
    top: 0;
  }

  /* .css-wuz7cz-MuiTypography-root,
  .css-15fb4dm-MuiTypography-root,
  .css-15pmlbz-MuiTypography-root {
    padding-left: 16px;
  } */
  .css-1aq6uv8-MuiStack-root .css-b19xj8-MuiButtonBase-root-MuiButton-root {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-top: 35px;
  }
  .css-1aq6uv8-MuiStack-root
    .css-b19xj8-MuiButtonBase-root-MuiButton-root:hover {
    background-color: #fff;
  }
  .css-1zszj3-MuiButtonBase-root-MuiButton-root svg {
    margin-left: 10px;
    width: 20px;
  }

  .css-18eutzv-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
  }

  .css-1aq6uv8-MuiStack-root .css-1zszj3-MuiButtonBase-root-MuiButton-root {
    display: flex;
    justify-content: flex-start;
    background: transparent !important;
    margin-left: 0;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .css-1hb9kj9-MuiAutocomplete-listbox::-webkit-scrollbar {
    display: none;
  }
  .css-1hb9kj9-MuiAutocomplete-listbox img {
    width: 50%;
    height: 50%;
    object-fit: cover;
  }

  #home p.css-15fb4dm-MuiTypography-root {
    margin-left: 0;
  }

  #home img.css-1d1pb5s {
    height: 120px !important;
    min-width: 272px;
    object-fit: cover;
  }

  #home h5.css-121ph4g-MuiTypography-root,
  #home .css-0 h4.css-9v741w-MuiTypography-root {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
  }
  #home .css-1oqqzyl-MuiContainer-root {
    margin-bottom: 50px;
  }
}

.css-18eutzv-MuiGrid-root {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 0;
  /* margin-left: -35px; */
}

.css-77jdc0-MuiTypography-root {
  overflow-y: hidden;
  max-height: 60px;
}

.css-1oqqzyl-MuiContainer-root {
  padding: 0;
  margin: auto;
  width: 90%;
}

.css-18eutzv-MuiGrid-root {
  width: 100% !important;
  position: relative;
  /* top: -40px; */
}

.Mui-focused {
  max-width: 301px;
}

.css-yz9k0d-MuiInputBase-input {
  display: none;
}

.css-1psmp8p {
  height: 150px !important;
}
/* css-gmwslw-MuiStack-root */

/* .css-j46zze-MuiPaper-root */

@media (min-width: 577px) {
  .css-1aq6uv8-MuiStack-root {
    justify-content: flex-start !important;
  }

  #home h5.css-121ph4g-MuiTypography-root {
    margin-top: 20px;
  }

  .css-1zszj3-MuiButtonBase-root-MuiButton-root {
    margin-left: auto !important;
  }

  .css-1aq6uv8-MuiStack-root {
    margin: 32px auto;
  }
}
