@media (max-width: 576px) {
  .css-j46zze-MuiPaper-root {
    padding: 0 !important;
    padding-bottom: 20px !important;
  }

  #personal .css-1wi5q2h-MuiTypography-root {
    margin-top: -50px;
  }

  #personal h5.css-121ph4g-MuiTypography-root {
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  #personal h5.css-121ph4g-MuiTypography-root {
    margin-top: 20px;
  }

  #personal .css-gmwslw-MuiStack-root {
    /* border-bottom: 1px solid #c9c5ca; */
    margin-left: 16px;
    margin-left: 16px;
  }

  .css-1ebprri form .css-gsppav-MuiStack-root {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .css-8atqhb:nth-child(4),
  .css-8atqhb:nth-child(3),
  .css-8atqhb:nth-child(2),
  .css-8atqhb:nth-child(1) {
    margin: auto;
    display: flex;
    justify-content: center;
    width: 90%;
  }
  button.css-1bw4ny6-MuiButtonBase-root-MuiButton-root {
    display: flex;
    width: 90%;
    margin: auto;
  }
}
