@media (min-width: 577px) {
  .wallet {
    display: none;
  }
}

@media (max-width: 576px) {
  .purchase-history .css-h5fkc8 div.css-gmwslw-MuiStack-root {
    display: flex;
    align-items: flex-start !important;
  }

  #personalInfo h4.css-1wi5q2h-MuiTypography-root {
    font-size: 24px;
  }
}
