.text {
  color: #787579;
  position: relative;
  bottom: 10px;
}

.changePassword form {
  border: 1px solid #c9c5ca;
  border-radius: 4px;
  margin-bottom: 50px;
}

.reset {
  height: 60px;
  border-bottom: 1px solid #c9c5ca;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.changePassword h4 {
  padding-left: 16px;
}

.changePassword input {
  margin-left: 16px;
  border: 1px solid #c9c5ca;
  border-radius: 4px;
  height: 36px;
  width: 90%;
}

.changePassword input:nth-child(2) {
  margin-bottom: 21.28px;
  height: 48px;
}

.passwordConfirm div:nth-child(2) {
  margin-top: -21.28px;
}

.changePassword button {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 25px;
  background: #5ea3d6;
  border: 1px solid #5ea3d6;
  color: #fff;
  border-radius: 100px;
  padding: 16px;
}
