@media (max-width: 567px) {
  .css-j46zze-MuiPaper-root + span {
    display: none;
  }

  #businessInfo .css-121ph4g-MuiTypography-root {
    margin-left: 16px;
  }

  #businessInfo .css-gmwslw-MuiStack-root {
    display: flex;
    align-items: center;
    margin-top: 16px;
  }

  #businessInfo form {
    margin-top: -0px;
  }

  #businessInfo .css-11s1w0s-MuiGrid-root {
    margin-bottom: 50px;
  }

  #businessInfo .css-1e1s8m9-MuiTypography-root {
    margin-top: -50px;
  }

  #businessInfo .css-wuz7cz-MuiTypography-root {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .css-13i4rnv-MuiGrid-root img {
    /* display: none; */
  }

  .css-13i4rnv-MuiGrid-root
    label.css-giap8k-MuiButtonBase-root-MuiButton-root:nth-child(2),
  .css-13i4rnv-MuiGrid-root
    label.css-giap8k-MuiButtonBase-root-MuiButton-root:nth-child(1),
  .css-13i4rnv-MuiGrid-root label.css-giap8k-MuiButtonBase-root-MuiButton-root {
    background-color: #f7f8f9;
    width: 70vw;
    height: 100px;
    border: 1px dashed #939094;
    color: #939094;
    border-radius: 16px;
    margin-bottom: 20px;
    box-shadow: none;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
  .css-178yklu .css-gsppav-MuiStack-root {
    display: flex;
    flex-direction: column;
  }
  textarea.css-12rdf6g {
    height: 200px;
    resize: none;
    outline: 0;
  }
  select.css-lsp5xe {
    padding: 13px;
  }
}
