@media (max-width: 576px) {
  .MuiBox-root .css-0 > .css-q9mojd-MuiStack-root,
  .css-1sw2wfc-MuiStack-root {
    display: flex !important;
    flex-wrap: wrap !important;
  }

  #personalInfo .css-m8g2zp-MuiTypography-root-MuiBreadcrumbs-root {
    margin-bottom: -50px;
  }

  #personalInfo .css-wuz7cz-MuiTypography-root {
    padding-left: 0;
    color: #484649;
  }

  #personalInfo .ub-algn-itms_flex-start {
    display: flex;
    flex-direction: column;
  }

  #personalInfo h5.css-121ph4g-MuiTypography-root {
    margin-top: 33px;
  }

  #personalInfo h4.css-1wi5q2h-MuiTypography-root {
    font-size: 24px;
  }
  #personalInfo .css-9mgopn-MuiDivider-root {
    border-bottom: 1px solid #c9c5ca;
  }

  #personalInfo .css-j46zze-MuiPaper-root {
    padding-top: -20px;
  }

  #personalInfo .css-k3azev:nth-child(1) {
    border-bottom: 1px solid #c9c5ca;
  }

  #personalInfo .css-k3azev:nth-child(2) {
    border-top: 1px solid #c9c5ca;
  }

  #personalInfo .css-k3azev {
    width: 100%;
  }

  #personalInfo .css-k3azev:nth-child(1),
  #personalInfo .css-k3azev:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 0;
  }

  #personalInfo .css-1jqucw3-MuiButtonBase-root-MuiButton-root {
    margin-left: 0;
    width: 108px;
    height: 60px;
  }

  #personalInfo .css-b1im03-MuiGrid-root {
    margin-bottom: 50px;
  }

  .css-0 .css-14d74ej-MuiButtonBase-root-MuiButton-root {
    margin-left: 0 !important;
  }

  .none {
    display: none;
  }

  .block {
    display: block;
  }

  .css-0 p.css-1e1s8m9-MuiTypography-root {
    margin-left: 0;
    font-size: 24px;
    /* margin-left: 0;
    font-size: 24px;
    position: relative;
    left: 12px;
    margin: auto; */
  }

  /* 
  } */

  @media (max-width: 436px) {
    #home .css-t7w5aw-MuiStack-root {
      display: flex;
      flex-direction: column !important;
    }

    #home .css-1ks7621-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
      padding-top: 10px;
      padding-bottom: 10px;
      margin-top: -10px;
    }

    #home .css-192imy9-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
      margin-top: 4px;
      width: 100%;
      margin-left: auto;
      height: 24px;
    }

    #home .css-t7w5aw-MuiStack-root {
      margin-bottom: 16px;
    }

    #home .css-1e1s8m9-MuiTypography-root {
      position: relative;
      left: 10px;
    }
  }

  .css-q9mojd-MuiStack-root > :not(style) + :not(style) {
    margin-left: 0px;
  }

  #personalInfo .css-j46zze-MuiPaper-root {
    padding-left: 0;
    padding-right: 0;
    border: 1px solid #c9c5ca;
  }

  #personalInfo .css-gmwslw-MuiStack-root {
    padding-left: 16px;
    margin-top: -16px;
    height: 80px;
    display: flex;
    align-items: left;
    /* border-bottom: 1px solid #c9c5ca; */
  }

  .css-k3azev {
    padding-left: 16px;
    margin-left: 0 !important;
    display: block;
    width: 100%;
    height: 100px;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }

  #personalInfo .css-15fb4dm-MuiTypography-root {
    color: #787579;
    font-size: 14px;
    line-height: 3;
  }

  .css-q9mojd-MuiStack-root {
    border-bottom: 1px solid #c9c5ca;
  }

  .css-1tk1bks-MuiDivider-root {
    visibility: hidden;
  }

  .css-1sw2wfc-MuiStack-root {
    padding-left: 16px;
    height: 250px;
  }
  .css-0 button.css-14d74ej-MuiButtonBase-root {
    border-radius: 40px !important;
  }
  .css-0 .css-14d74ej-MuiButtonBase-root-MuiButton-root {
    border-radius: 40px;
    width: 50%;
    height: 66px;
  }

  .css-h5fkc8 div.css-gmwslw-MuiStack-root {
    /* border-bottom: 1px solid #c9c5ca; */
    height: 60px;
    display: flex;
  }
  .ub-mt_0px.ub-mb_0px.ub-color_696f8c.ub-fnt-fam_b77syt.ub-f-wght_600.ub-fnt-sze_16px.ub-ltr-spc_-0-05px.ub-ln-ht_20px.ub-box-szg_border-box {
    margin-top: 20px;
  }
  .css-1sw2wfc-MuiStack-root > :not(style) + :not(style) {
    font-size: 12px !important;
  }
}

#home .css-bix7vi-MuiStack-root {
  display: flex;
  justify-content: center;
}

#home .css-1ehghrz-MuiButtonBase-root-MuiButton-root-MuiLoadingButton-root {
  height: 30px;
}

/* @media (max-width: 576px) and (max-width: 436px) {
  #home .css-t7w5aw-MuiStack-root {
    margin-bottom: 16px;
  }
} */
