#home h5.css-121ph4g-MuiTypography-root {
  margin-bottom: 50px !important;
  margin-top: 20px;
}

.wallet {
  margin-bottom: 100px;
}

#wallet .css-121ph4g-MuiTypography-root {
  text-align: left;
}

.wallet p {
  background-color: #e9e6e8;
  color: #000;
  height: 46;
  padding: 20px;
  margin-bottom: 50px;
  margin-top: 0;
  font-size: 10px;
  color: #514f6d;
  font-weight: 600;
}

#wallet .css-153da9p-MuiStack-root {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#wallet .css-b1im03-MuiGrid-root {
  margin-top: -50px;
}

#wallet .css-153da9p-MuiStack-root .css-0 {
  position: relative;
  /* top: -32px; */
}

#wallet .css-4ns9gg-MuiButtonBase-root-MuiButton-root {
  /* margin-top: 32px; */
  border-radius: 100px;
  padding: 10px 25px;
}

#wallet .ub-box-szg_border-box {
  display: none;
}

.position {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid #c9c5ca;
  border-radius: 4px;
}

@media (min-width: 577px) {
  .wallet {
    display: none;
  }
}

@media (max-width: 576px) {
  /* .css-y1gt6f .ub-btrr_4px.ub-box-szg_border-box {
    display: none;
  } */
}
