@media (max-width: 576px) {
  .css-j46zze-MuiPaper-root {
    padding: 0;
  }

  #shipping .css-j46zze-MuiPaper-root .css-gmwslw-MuiStack-root {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    justify-content: center;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    margin-left: 16px;
  }
  #shipping
    .css-j46zze-MuiPaper-root
    button.css-zqaali-MuiButtonBase-root-MuiButton-root {
    background-color: transparent;
    color: #5ea3d6;
    border: 1px solid #5ea3d6;
    border-radius: 23px;
    padding: 25px;
  }

  #shipping .ub-algn-itms_flex-start {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    top: 24px;
  }

  #shipping .css-9mgopn-MuiDivider-root {
    border: none;
  }

  #shipping .css-b1im03-MuiGrid-root {
    margin-top: -50px;
    border: none;
  }

  #shipping .css-b1im03-MuiGrid-root > .css-0 {
    margin-bottom: -50px;
  }
  #shipping
    .ub-b-top_1px-solid-edeff5.ub-b-rgt_1px-solid-edeff5.ub-b-btm_1px-solid-edeff5.ub-b-lft_1px-solid-edeff5.ub-bblr_4px.ub-bbrr_4px.ub-btlr_4px.ub-btrr_4px.ub-box-szg_border-box {
    border-bottom: none;
    border-left: none;
    border-right: none;
  }
  #shipping .css-0:last-child {
    margin-bottom: 50px;
  }

  #shipping .css-121ph4g-MuiTypography-root {
    position: relative;
    top: 50px;
  }
}
