.ub-txt-algn_center {
  text-align: left;
}

.css-y1gt6f > .ub-box-szg_border-box {
  /* width: 900px; */
}

.css-y1gt6f {
  overflow-x: auto;
}

.css-y1gt6f::-webkit-scrollbar {
  display: none;
}

@media (max-width: 576px) {
  #purchaseHistory .css-y1gt6f > .ub-box-szg_border-box {
    width: 100%;
  }

  #purchaseHistory .ub-dspl_flex {
    display: flex;
    flex-direction: column;
  }
  #purchaseHistory .css-ber32g .ub-flx_1 {
    display: none;
  }
  .wallet {
    margin-top: 50px;
  }
  #purchaseHistory .css-0 {
    margin-top: -50px;
  }
  #purchaseHistory .wallet p {
    font-size: 10px;
  }
}
