@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Be Vietnam Pro", sans-serif !important;
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

.sidebar-content a {
  color: inherit;
  text-decoration: none;
}

#productListLayout .css-xku32k-MuiStack-root {
  display: flex;
  flex-wrap: wrap;
  line-height: 2.5;
  justify-content: space-between;
}
@media (max-width: 576px) {
  #productListLayout .css-1vjgoe {
    object-fit: contain;
    height: auto;
    object-fit: contain;
    height: auto;
    position: relative;
    top: -65px;
  }
  .css-12zgns2-MuiInputBase-root,
  .css-1qz0joc,
  .css-1j7sauc {
    width: 100% !important;
  }
  /* .css-vpmdpe-MuiSlider-root {
    width: 238px;
} */

  #productListLayout .css-xku32k-MuiStack-root {
    margin-top: -75px;
  }
  #sidebar .sidebar-item.plain {
    margin-top: -16px;
  }
  .sidebar .css-cyq97j-MuiBadge-badge {
    position: relative;
    right: -35px;
    top: -20px;
  }
  #cart p.css-1dc4eoi-MuiTypography-root {
    width: 197px;
    display: flex;
    justify-content: center;
  }
  #cart .css-vnprx9-MuiTypography-root {
    text-align: center;
  }

  .css-1oqqzyl-MuiContainer-root .css-zow5z4-MuiGrid-root {
    margin-top: -100px;
  }
}

#productListLayout .css-9mgopn-MuiDivider-root {
  border-bottom: none;
}

#productListLayout .css-xku32k-MuiStack-root .css-0 {
  margin-left: 0;
}

@media (max-width: 348px) {
  #productListLayout .css-xku32k-MuiStack-root .css-0 {
    width: 100%;
  }
}

.main {
  display: flex;
  height: 100vh;
}

.container {
  flex-grow: 1;
  padding: 2em;
  background-image: radial-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8)),
    url("https://res.cloudinary.com/bizstak/image/upload/v1661622308/image2_emlri1.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.name {
  font-size: 3em;
}
.info {
  font-size: 1.1em;
  letter-spacing: 1px;
  line-height: 1.5;
  margin: 1.5em;
  color: rgb(224, 224, 224);
}
.btn {
  margin: 0 auto;
  border: none;
  outline: none;
  padding: 0.75em 1em;
  font-size: 1em;
  letter-spacing: 1px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  background-color: rgb(134, 49, 0);
  color: #fff;
}

.sidebar {
  width: 260px;
  flex-shrink: 0;
  background-color: #fff;
  height: 100%;
  overflow: auto;
  margin-top: 50px;
}

.css-1r7kz78-MuiModal-root-MuiDrawer-root .MuiDrawer-paper {
  box-sizing: border-box;
  width: 240px;
  overflow: hidden;
}

.css-1ss2ei0-MuiContainer-root {
  margin-right: 0;
}

.sidebar span {
  font-weight: 600;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.sidebar-item {
  padding: 0.75em 1em;
  display: block;
  transition: background-color 0.15s;
  border-radius: 5px;
}

.sidebar-item:last-child i {
  position: relative;
  top: -5px;
  right: 120px;
  display: none;
}

.sidebar-item:last-child {
  /* border-top: 1px solid #c9c5ca; */
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  cursor: pointer;
}
.sidebar-item:last-child span {
  font-size: 13px;
  color: #000;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar a,
.sidebar-item span {
  font-size: 13px;
}

.sidebar-name {
  display: flex;
  font-size: 1.2em;
  justify-content: space-between;
  margin-left: -2px;
  color: norm;
}
.sidebar-name span i {
  display: inline-block;
  width: 1.5em;
}
.sidebar-name .toggle-btn {
  cursor: pointer;
  transition: transform 0.3s;
}
.sidebar-item.open > .sidebar-name .toggle-btn {
  transform: rotate(180deg);
}
.sidebar-content {
  padding-top: 0.25em;
  height: 0;
  overflow: hidden;
}
.sidebar-item.open > .sidebar-content {
  height: auto;
}

.sidebar-item.plain {
  text-decoration: none;
}
.sidebar-item.plain:hover {
  text-decoration: underline;
}
.sidebar-item.plain i {
  display: inline-block;
  width: 1.7em;
}

.css-1oj2twp-MuiPagination-root {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.sidebar > .plain,
.open span {
  font-weight: 600;
}

.sidebar-content a {
  font-weight: 400;
  font-size: 12;
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root {
  box-shadow: 0px 4px 10px rgb(0 0 0 / 5%) !important;
  border: none !important;
}

.css-1v5z4dq-MuiPaper-root-MuiCard-root:hover {
  box-shadow: 0 1px 14px 1px rgb(0 0 0 / 13%) !important;
}

.css-18eutzv-MuiGrid-root > .MuiGrid-item {
  padding-left: 0 !important;
}

#home .css-1xh8hr-MuiTypography-root {
  font-size: 0.9rem;
}

@media (min-width: 900px) {
  .css-1ss2ei0-MuiContainer-root {
    max-width: initial !important;
  }
}

@media (min-width: 600px) {
  .css-1ss2ei0-MuiContainer-root {
    max-width: initial !important;
  }
}

/* .css-12zgns2-MuiInputBase-root {
  width: 270px
} */
@media (max-width: 348px) {
  .css-190faff-MuiButtonBase-root-MuiChip-root {
    width: 100% !important;
  }
}

@media (min-width: 577px) {
  header .css-hyum1k-MuiToolbar-root .MuiBox-root.css-pefuhq:nth-child(2) {
    display: none;
  }
}
/* .css-i4bv87-MuiSvgIcon-root */